//- Basic Page Needs
title #{title}
meta(charset="utf-8")
meta(name="description" content="#{description}")
meta(name="author" content="#{author}")
meta(name="tags" content="#{tags}")
//- Mobile Specific Meta
meta(name="viewport" content="width=device-width")
//- CSS
link(rel="stylesheet" href="#{assetsLocation}/css/index.css")
//- Favicon
link(rel="shortcut icon" href="favicon.ico")
